body {
    background-color: #013A63;
    padding: 30px
}

h1 {
    color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4em;
    background-color: #012A4A;
    padding: 20px;
    border: 5px solid white;
    letter-spacing: .2em;
}

h2 {
    color: white;
    background-color: #61A5C2;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-weight: 100;
    font-size: 2em;
}

form {
    background-color: #A9D6E5;
}

input, #submit {
    margin: 10px;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    width: 200px;
    padding: 5px;
}

table {
    background-color: white;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    border: 3px solid #012A4A;
}

thead, tbody {
    text-align: left;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

th, td {
    width: 200px;
}

th {
    background-color: #468FAF;
    color: white;
    font-weight: 100;
}

#totalCost {
    text-align: right;
    font-weight: 600;
}

.inTheRed {
    background-color: red;
}